body{
    background: #f5f5f5;
}
.h_c_logo img{
    width: 170px;
    height: 100px;
    margin-top: 10px;
}
#ad{
    width: 1200px;
    height: 400px;
    margin: 10px auto;

}
#ad img{
    width: 1200px;
    height: 400px;
}
#ms{
    width: 1200px;
    height: 305px;
    margin: 0 auto;

}
#ms .ms_top{
    width: 1200px;
    height: 55px;
    background-image: url(../images/title_bg.png);
    -webkit-background-size: 1200px 55px;
    background-size: 1200px 55px;
    line-height: 55px;
}
#ms .ms_body{
    width: 1200px;
    height: 250px;
    background: white;
}
#ms .ms_top span{
    color: white;
}
#ms .ms_top .big_span{
    font-size: 20px;
    font-weight: bold;
    margin:0px 10px;
}
#ms .ms_body ul{
     width: 1200px;
     height: 250px;
    list-style: none;
    display: flex;
 }
#ms .ms_body ul li{
    flex: 1px;
    border-right: 1px solid #ccc;
 }
#ms .ms_body ul li:last-child{
    border-right:none;
}
#ms .ms_body ul a{
    width: 100%;
    height: 100%;
    color: #6c6c6c;
}
#ms .ms_body ul a img{
    /*margin-left: 50px;*/
    width: 130px;
    height: 130px;
    margin: 0 auto;
    margin-top: 10px;
    display: block;
}
#ms .ms_body ul a p{
    font-size: 12px;
    margin: 10px 0;
    padding: 0 10px;
}
.yuan{
    color: #ff4400;
    font-size: 10px;
    font-style: normal;
}
.price{
    color: #ff4400;
    font-weight: bold;
    margin-left: 3px;
}
#rm{
    width: 1200px;
    margin: 10px auto;
}
#rm .rm_top{
    width: 1200px;
    height: 44px;
    padding-left: 10px;
    border-bottom: 1px solid #ccc;
}
#rm .rm_top h3{
    color: #ff242d;
    font-size: 20px;
    font-weight: bold;
    line-height: 44px;
}
#rm .rm_body{
    width: 1200px;

}
#rm .rm_body ul{
    list-style: none;
    overflow: hidden;/*清空浮动，没有清空浮动高度撑不起来*/
}
#rm .rm_body ul li{
    width: 236px;
    height: 315px;
    background: white;
    float: left;
    margin-right: 5px;
    margin-bottom: 5px;
    padding: 5px;
}
#rm .rm_body ul li:nth-child(5n){/*伪类选择器nth-child(xn)选择第xn个元素*/
    margin-right: 0px;
}
#rm .rm_body img{
    width: 220px;
    height: 218px;
    margin: 0 auto;
    display: block;/*设置为块元素*/
}
#rm .rm_body p{
    font-size: 13px;
    padding: 10px 3px ;
    margin: 5px;
}